<div class="container__left-bar">
  <h3>Postagem recentes</h3>
  <ul>
    <li>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque aliquid cupiditate explicabo</p>
      <a href="#">Leia mais</a>
    </li>
    <hr>
    <li>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque aliquid cupiditate explicabo</p>
      <a href="#">Leia mais</a>
    </li>
  </ul>
  <h3>Postagem recentes</h3>
  <ul>
    <li>Jogos</li>
    <li>Celular</li>
    <li>Imformatica</li>
    <li>Eletrônicos</li>
  </ul>
</div>
