/* You can add global styles to this file, and also import other style files */
:root {
  --color-secondary: #fff;
  --color-primary: #f7b600;
  --color-tertiary: #4e4e4e;
  --color-quaternary: #000;
  --color-grey: #565656;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
